
$gradientRed: #e91e63;
$gradientBlue: #5d02ff;
$gradientGreen: #89ff00;
$gradientSkyBlue: #00bcd4;

$accentColor: rgb(61, 191, 82);
$activeColor: rgb(149, 102, 242);
$backgroundColor: rgb(51, 51, 51);
$baseColor: rgb(255, 255, 255);
$buttonShadowColor: rgba(255, 255, 255, .5);
$clockBorderColor: rgb(65, 57, 81);
$clockShadowBlackColor: rgba(0, 0, 0, .3);
$clockShadowWhiteColor: rgba(255, 255, 255, .05);
$darkColor: rgb(0, 0, 0);
$disabledColor: rgb(85, 85, 85);
$errorColor: rgb(220, 20, 60);
$mainColor: rgb(146, 157, 158);
$overlayColor: rgba(0, 0, 0, .9);
$overlayLightColor: rgba(255, 255, 255, .9);
$primaryColor: rgb(0, 170, 255);
$progressContourColor: rgba(255, 255, 255, .3);
$secondaryColor: rgb(244, 188, 127);
$successColor: rgb(48, 191, 110);
$warningColor: rgb(255, 239, 0);
